* {
    margin: 0px;
    padding: 0px;
}
body{
    background-image:url('landsite.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
   margin:  5rem auto;
    display: flex;
    background-color: gold;
  width: 60%;
    height:450px;
    border-radius: 40px;
    opacity:0.9;
    position: relative;
    

}
form{
    margin-top: 10%;
    
 }
h1{
  margin:5px;
  color:blue;
  
}
b{
    color:blue;
    text-align: center;

}


input{
    margin-left:10px;
    width:200%;
    height: 10%;
    
}
button{
    margin-top: 7px;
    margin-left:70%;
    width:60%;
    height: 15%;
    color:blue;
}
.sub-container
{
   position: absolute;
   top: 5rem;
   left: 9rem;

  
}
.sub-container input
{
    height: 50px;
    line-height: 2rem;
    padding-left:0.2rem ;
    margin-top: 0.5rem;
    max-width: 600px;
}
.label
{
    margin-left: 12rem;
}
[type="button"]
{
   max-width: 100px;
   margin-left: 12rem;
}
.heading-label
{
    margin-left: 9rem;
}