* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('landsite.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

nav {
    display: flex;
    justify-content: space-between;
    height: 15%;


}


.logo {
    font-size: 40px;
    color: white;
    opacity: 0.6;
    margin: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    opacity: 1;
    padding: 5px;


}

ul li {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    padding: 10px;





}

input[type="text"] {
    height: 40%;
}

.btn {
    margin-right: 10px;
    height: 40%;
    margin-left: -4px;
}

a {
    text-decoration: none;
    color: blue;
    font-size: 20px;

}

.b:hover {
    color: white;

}
.b:visited{
    color:white;
}

h2 {
    text-align: center;
    color: blue;
    text-decoration: underline;

}

p {
    color: white;
    padding-top: 10px;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.description-1 {
    border: 2px solid white;
    border-radius: 8px;
    width: 30%;
    margin-left: 20px;
    margin-top: 80px;
    height: 40%;
    
}

.description-2 {
    margin: 90px;
    margin-right: 50px;;
    padding: 90px;
    width: 90%;
    font-size: 30px;
    justify-content: center;


}

h4 {
    text-align: center;
    color: blue;
}

h3 {
    color: blue;
}

.a {
    text-decoration: none;
    background-color: blue;
    color: white;
    width: 10%;
    height: 30px;
    position: absolute;
    right:35%;
    top: 55%;
    padding: 10px;
    border-radius: 15px;

}
.a:hover {
    text-decoration: none;
}